@font-face {
  font-family: 'Mona Sans';
  src:
    url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

/*I'm trying to make the header look like the lip of a folder*/

header {
    background-color: #8f0326;
    max-width: 200px;
    text-align: left;
    font-family: 'Mona Sans';
    font-size: 24px;
    color: #ffffff;
    padding: 15px;
} 

/*  */

.div1 {
  border: 5px solid #8f0326;
  background-color: #787878;    
  text-align: left;
  max-width: 720px;
}

.p1 {
  max-width:      700px;
  padding-left:   10px;
  padding-right:  10px;
  font-family: 'Mona Sans';
  color: #a8caff;
}
 
h1 {
    font-family: 'Mona Sans';
    font-size: 32px;
    color: #ffffff;
    margin: 0; 
}

h2 {
    font-family: 'Mona Sans';
    font-size: 22px;
    color: #fff769;
    padding-top: 20px;
}
body {
    color: #e6e6e6;
    background-color: #ADADAD;
    font-family: 'Mona Sans';
    padding-left: 10%;
}

img {
  margin: 15px;
}

p {
color: #333;
font-family: 'Mona Sans';
}

/* unvisited link */
a:link {
  color: #90ff61;
  font-weight: bold;
}

/* visited link */
a:visited {
  color: #90ff61;
  font-weight: bold;
}

/* mouse over link */
a:hover {
  color: #cfcfcf;
}

/* selected link */
a:active {
  color: #cfcfcf;
}
