@font-face {
  font-family: 'Mona Sans';
  src:
    url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  font-family: 'Mona Sans';
}

body, h1, h2, p, ul, li {
    margin-left:0;
    padding: 0;
}
header {
    background-color: #8f0326;
    font-family: 'Mona Sans';
    font-size: 28px;
    font-color: #white;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background-color: f2f2f2;
    font-family: 'Mona Sans';
    font-color: #black;
    margin-left: 10%;
}

p {
font-family: 'Mona Sans';
font-color: #black;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  color: #cfcfcf;
}

/* selected link */
a:active {
  color: #cfcfcf;
}

nav ul {
  list-style-type: square;
    color: #333
    font-size: 10px;
    font-family: 'Mona Sans';
}
