body, h1, h2, p, ul, li {
    margin-left:0;
    padding: 0;
}
@font-face {
  font-family: 'Mona Sans';
  src:
    url('MonaSans-Regular.woff2') format('woff2 supports variations'),
    url('MonaSans-Regular.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
html {
    font-family: 'Mona Sans'
}
body {
    background-color: f2f2f2;
    font-family: 'Mona Sans';
    font-color: #333;
    margin-left: 10%;
}

header {
    background-color: #8f0326;
    padding: 0;
    margin-left: 5%;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: #8f0326;
    opacity: 0.8;
    z-index: 1;
}

h1 {
    font-color: #ffffff
    font-size: 28px;
    margin-bottom: 10px;
    font: 'MonaSans-Regular';
}
nav ul {
  list-style-type: square;
    color: #333
    font-size: 12px;
    font-family: 'Mona Sans';
}
